body {
    font-size: 14pt;
    background: cornflowerblue;
}

#main {
    display: flex;
}

#inputs {
    margin-right: 30px;
}

#eventList{
    display: flex;
    flex-direction: column;
    background: aliceblue;
}